body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.header-div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-2 {
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  gap: 40px;
}

.header-address {
  display: flex;
  gap: 40px;
}
.spisokhead {
  padding: 24px 0;
}
.lozung {
  padding: 188px 0;
}
.lozung-h {
  max-width: 496px;
}
.lozung-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.strategy-pdt {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strategy-ul {
  display: flex;
  gap: 24px;
}
.spdt {
  width calc((100% - 3 * 24px) / 4);
}
.about-company {
  margin-bottom: 8px;
}
