body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-2 {
  color: #2e2f42;
}
.spisokhead {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.spisokhead:hover {
  color: #404bbf;
}
.spisokhead:focus {
  color: #404bbf;
}
header > address {
  font-style: normal;
}
.address-1 {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-1:hover {
  color: #404bbf;
}
.address-1:focus {
  color: #404bbf;
}
.address-2 {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-2:hover {
  color: #404bbf;
}
.address-2:focus {
  color: #404bbf;
}
