body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.header-div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-2 {
  color: #2e2f42;
}
.header-navsgation {
  display: flex;
  gap: 40px;
}
.header-nav-li {
  padding: 24px 0;
}
.header-address {
  display: flex;
  gap: 40px;
}
