ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
header > nav {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
}
.header-logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  padding-left: 156px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-logo-1 {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo-2 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-navigation {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  padding-left: 76px;
}

.header-navigation > li {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.header-mail {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.header-nomer {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.lozung {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}
.lozung-h1 {
  color: var(--WHITE, #fff);
  text-align: center;

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  width: 496px;
  padding-left: 472px;
  padding-top: 188px;
}
.lozung-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  padding-left: 32px;
  margin-left: 636px;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
