body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.header-div {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-2 {
  color: #2e2f42;
}
.spisokhead {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.spisokhead:hover {
  color: #404bbf;
}
.spisokhead:focus {
  color: #404bbf;
}
header > address {
  font-style: normal;
}
.address-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-mail:hover {
  color: #404bbf;
}
.address-mail:focus {
  color: #404bbf;
}
.address-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-mail:hover {
  color: #404bbf;
}
.address-mail:focus {
  color: #404bbf;
}
.lozung {
  background-color: #2e2f42;
}
.lozung-h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.lozung-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.lozung-button:hover {
  background-color: #404bbf;
}
.lozung-button:focus {
  background-color: #404bbf;
}
.about-company {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-company-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-portfolio {
  background-color: #f4f4fd;
}
.our-portfolio-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mark-guerrero {
  background-color: #ffffff;
}
.mark-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mark-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-banking {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.app-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
